{% assign headline = include.headline | default: "Work Experience" %}

{% capture includeContent %}
{% for job in include.experience %}
<article class="entity job">
    <div class="entity-logo">
        {% if job.logo %}
            <img src="{{ "assets/img/" | relative_url | append: job.logo }}" alt="{{ job.company }}" />
        {% else %}
            <img src="{{ "assets/img/" | relative_url | append: 'no-image.png' }}" alt="{{ job.company }}" />
        {% endif %}
    </div>
    <div class="entity-details">
        <div class="entity-summary-info">
            <h3 class="entity-position">{{ job.position }}</h3>
            <h4 class="entity-name">{{ job.company }}</h4>
            <div class="entity-duration">
                <span>{{ job.startDate }} - {{ job.endDate }}</span>
                {% if job.duration %}
                    <span class="bullet">{{ job.duration }}</span>
                {% endif %}
            </div>
        </div>
        <p class="entity-description">
            {{ job.description }}
        </p>
    </div>
</article>
{% endfor %}
{% endcapture %}

{%- include section.liquid title=headline content=includeContent %}
